hr {
    margin: 0;
}
.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista__rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        justify-items: center;
    }

    .lista__rodape{
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: .6em 0;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: .7em;
    }
    .lista-rodape__titulo{
        color: var(--cinza-claro);
        font-size: 14px;
    }
    .rodape__titulo{
        font-size: 24px;
    }
}